apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ k3s_service_name }}"
  namespace: "{{ k3s_service_namespace }}"
spec:
  selector:
    matchLabels:
      name: "{{ k3s_service_name }}"
  replicas: 1 # tells deployment to run 1 pods matching the template
  template: # create pods using pod definition in this template
    metadata:
      labels:
        name: "{{ k3s_service_name }}"
    spec:
      containers:
      - name: "{{ k3s_service_name }}"
        image: nginx:latest
        ports:
        - containerPort: 80
      volumes:
      - name: "{{ k3s_service_name }}-volume"
        persistentVolumeClaim:
          claimName: "{{ k3s_service_name }}-pvc"
