apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ k3s_service_name }}-ingress"
  namespace: "{{ k3s_service_namespace }}"
{% if k3s_service_tls_enabled %}
  annotations:
    cert-manager.io/cluster-issuer: "{{ k3s_service_tls_issuer }}"
{% endif %}
spec:
{% if k3s_service_tls_enabled %}
  tls:
    - hosts:
        - "{{ service_domain }}"
      secretName: "{{ k3s_service_name }}-tls"
{% endif %}
  rules:
  - host: "{{ service_domain }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "{{ k3s_service_name }}-service"
            port:
              number: {{ service_port }}
