{% if tls_certificates_enabled %}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ k3s_service_name }}-tls"
  namespace: "{{ k3s_service_namespace }}"
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', cert_file_path) | b64encode }}"
  tls.key: "{{ lookup('file', key_file_path) | b64encode }}"
{% endif %}