apiVersion: v1
kind: Service
metadata:
  name: "{{ k3s_service_name }}-service"
spec:
  selector:
    name: "{{ k3s_service_name }}"
  ports:
    - protocol: TCP
      port: {{ service_port }}
      targetPort: {{ k3s_service_container_port }}
      nodePort: 30042
  type: NodePort
