---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-simple
provisioner: driver.longhorn.io
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "1"
  staleReplicaTimeout: "30"
---
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: longhorn-snapshot-class
driver: driver.longhorn.io
deletionPolicy: Delete
parameters:
  type: snap
{#---#}
{#apiVersion: storage.k8s.io/v1#}
{#kind: StorageClass#}
{#metadata:#}
{#  name: nfs-static#}
{#provisioner: nfs.csi.k8s.io#}
{#parameters:#}
{#  server: "{{ nfs_server }}"#}
{#  share: "{{ nfs_root_path }}"#}
{#reclaimPolicy: Retain#}
{#volumeBindingMode: Immediate#}
{#mountOptions:#}
{#  - nfsvers=4.1#}
{#  - soft#}
{#  - timeo=600  # Wait longer before retrying (default: 7, meaning 0.7s; 600 = 60s)#}
{#  - retrans=10  # Increase retries to avoid premature failures#}
{#  - retry=5  # For initial mount attempts (only used in fstab, not in CSI)#}
{#---#}
{#apiVersion: storage.k8s.io/v1#}
{#kind: StorageClass#}
{#metadata:#}
{#  name: nfs-dynamic#}
{#provisioner: nfs.csi.k8s.io#}
{#parameters:#}
{#  server: "{{ nfs_server }}"#}
{#  share: "{{ nfs_root_path }}"#}
{#  subdir: "${pvc.metadata.namespace}/${pvc.metadata.name}"#}
{#  # csi.storage.k8s.io/provisioner-secret is only needed for providing mountOptions in DeleteVolume#}
{#  # csi.storage.k8s.io/provisioner-secret-name: "mount-options"#}
{#  # csi.storage.k8s.io/provisioner-secret-namespace: "default"#}
{#reclaimPolicy: Retain#}
{#volumeBindingMode: Immediate#}
{#mountOptions:#}
{#  - nfsvers=4.1#}
{#  - soft#}
{#  - timeo=600  # Wait longer before retrying (default: 7, meaning 0.7s; 600 = 60s)#}
{#  - retrans=10  # Increase retries to avoid premature failures#}
{#  - retry=5  # For initial mount attempts (only used in fstab, not in CSI)#}
