---
services:
  dockge:
    image: louislam/dockge:1.5.0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dockge-data:/app/data
      # Stacks Directory
      # ⚠️ READ IT CAREFULLY. If you did it wrong, your data could end up writing into a WRONG PATH.
      # ⚠️ 1. FULL path only. No relative path (MUST)
      # ⚠️ 2. Left Stacks Path === Right Stacks Path (MUST)
      - /srv/apps:/srv/apps
    environment:
      # Tell Dockge where to find the stacks
      - DOCKGE_STACKS_DIR=/srv/apps
volumes:
  dockge-data:
    external: true
