username = {{ slsk_username }}
password = {{ slsk_password }}
spotify-id = {{ spotify_id }}
spotify-secret = {{ spotify_secret }}

pref-format = mp3
pref-min-bitrate = 320
# fast-search = true
# pref-length-tol = 3
# pref-max-bitrate = 2500
# pref-max-samplerate = 48000
# pref-strict-title = true
# pref-strict-album = true

