# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Root URL for nginx access
homeassistant:
  internal_url: http://assistant.{{ homeserver_domain }}

logger:
  default: info

http:
  use_x_forwarded_for: true     # To ensure HA understands that client requests come via reverse proxy
  trusted_proxies:
    - 172.16.0.0/12             # All docker containers can reach (this is the ip range for all docker networks) => TODO give a static ip address to reverse proxy
    - 127.0.0.1                 # Add the localhost IPv4 address
    - ::1                       # Add the localhost IPv6 address

