services:
  {{ homelab_app_name }}:
    restart: always
    networks:
      - {{ homelab_app_traefik_network }}
    container_name: {{ homelab_app_name }}
    labels:
      traefik.enable: "true"
      traefik.http.routers.{{ homelab_app_name }}.rule: "Host(`{{ homelab_app_full_dns_name }}`)"
      traefik.http.services.{{ homelab_app_name }}.loadbalancer.server.port: "{{ homelab_app_internal_port }}"  # internal port
      traefik.http.routers.{{ homelab_app_name }}.middlewares: "security-headers@file"
networks:
  {{ homelab_app_traefik_network }}:
    external: true

