---
services:
  vpn-client:
    image: qmcgaw/gluetun:v3.40.0
    restart: unless-stopped
    networks:
      - servarr
    ports:
      - "50300:50300"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY="{{ vpn_private_key }}"
      - SERVER_COUNTRIES=Switzerland
      - PORT_FORWARD_ONLY=on
      - FIREWALL_VPN_INPUT_PORTS=50300
  slskd:
    image: slskd/slskd:0.23.1
    container_name: slskd
    restart: unless-stopped
    network_mode: "service:vpn-client"
    user: 1000:1000
    environment:
      - TZ=Europe/Paris
      - SLSKD_REMOTE_CONFIGURATION=true # Allow configuring from the Web UI
    volumes:
      - slskd-app-data:/app
      - /mnt/media/Musique:/data
      - /mnt/media/soulseek-downloads:/downloads
      - /soulseek-downloads:/incomplete
    depends_on:
      vpn-client:
        condition: service_healthy
volumes:
  slskd-app-data:
    external: true
networks:
  servarr:
    external: true
