services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.5
    user: 1000:1000
    ports:
      - "8096:8096" # SmartTV app is annoying with cache after redeploy, using ip:port for it...
{% if gpu_passthrough_enabled %}
    devices:
      - {{ gpu_card_path }}:{{ gpu_card_path }}
    group_add:
      - '{{ render_group_id }}'
{% endif %}
    volumes:
      - jellyfin-config:/config
      - /mnt/media:/media:rw,rshared # rshared propagation makes sure the mount events are propagated, so that it may reconnect after disconnect
      # - /tmp/jellyfincache:/cache

      - type: tmpfs # Cache in ram for maximum speed
        target: /cache
        tmpfs:
          size: 2g  # adjust based on RAM availability
      
      # - type: bind
      #   source: /path/to/media
      #   target: /media
      # - type: bind
      #   source: /path/to/media2
      #   target: /media2
      #   read_only: true
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      # - type: bind
      #   source: /path/to/fonts
      #   target: /usr/local/share/fonts/custom
      #   read_only: true
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl={{ homelab_app_full_dns_name }}
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    # extra_hosts:
    #   - 'host.docker.internal:host-gateway'

volumes:
  jellyfin-config:
    external: true
  jellyfin-cache:
    external: true
