apiVersion: batch/v1
kind: Job
metadata:
  name: backup-job
  namespace: {{ k3s_backups_namespace }}
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: backup
          image: rclone/rclone:sha-61c3b27
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Preparing writable rclone config..."
              mkdir -p /root/.config/rclone
              cp /tmp/rclone-ro/rclone.conf /root/.config/rclone/rclone.conf
              echo "Creating backup archive..."
              tar czf /tmp/{{ k3s_backups_backup_archive_name }} -C {{ k3s_backups_backup_mount_path }} .
              echo "Uploading archive with rclone..."
              rclone copy /tmp/{{ k3s_backups_backup_archive_name }} {{ k3s_backups_rclone_remote }}:{{ k3s_backups_rclone_target_dir }}
          volumeMounts:
            - name: data
              mountPath: {{ k3s_backups_backup_mount_path }}
            - name: rclone-config
              mountPath: /tmp/rclone-ro
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ k3s_backups_pvc_name }}
        - name: rclone-config
          secret:
            secretName: {{ k3s_backups_rclone_secret_name }}
