---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_backups_rclone_secret_name }}
  namespace: {{ k3s_backups_namespace }}
type: Opaque
stringData:
  rclone.conf: |
    {{ lookup('file', k3s_backups_rclone_conf_path) | indent(4) }}
