---
homelab_app_target_root_dir: "/srv/apps/{{ homelab_app_name }}"
homelab_app_rendered_compose: "{{ homelab_app_target_root_dir }}/base-compose.yml"
homelab_app_rendered_patch: "{{ homelab_app_target_root_dir }}/patch.yml"
homelab_app_full_dns_name: "{{ homelab_app_name }}.{{ homelab_app_apps_domain }}"
homelab_app_url: "http://{{ homelab_app_full_dns_name }}"
homelab_app_cpu_shares: 1024
homelab_app_traefik_network: traefik
homelab_app_volume_names: []
homelab_app_backups_enabled: true
homelab_app_backups_restic_repositories_root: "/srv/backups/restic/"
homelab_app_backups_target_dir: /backups
homelab_app_backups_rclone_conf: "./resources/backups/rclone.conf"
homelab_app_backups_rclone_conf_target_dir: "/srv/rclone"
homelab_app_backups_default_retention_days: 7
homelab_app_backups_default_remote_retention_days: 180
homelab_app_logs_root_dir: "/srv/log"
homelab_app_vpn_enabled: false
homelab_app_monitoring_enabled: true
