# SPDX-License-Identifier: MIT-0
---
- name: Remove app
  tags: [remove, never]
  include_tasks:
    file: remove.yml
    apply:
      tags: [remove, never]

- name: Initialize restic repositories
  include_tasks: restic.yml
  when: homelab_app_backups is defined

- name: Ensure app config dir exists
  file:
    path: "{{ homelab_app_target_root_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0744"
  changed_when: false # This is not ideal, but it's reporting change everytime, I don't know why, and if the directory didn't exist, change will necessarily be reported by next steps so it's not that critical

- name: Ensure logs dir exists
  file:
    path: "{{ homelab_app_logs_root_dir }}"
    state: directory
    mode: "0744"

- name: Render base compose template
  template:
    src: "{{ homelab_app_compose_template }}"
    dest: "{{ homelab_app_rendered_compose }}"
    mode: "0644"
  notify: Restart app

- name: Load rendered compose
  slurp:
    src: "{{ homelab_app_rendered_compose }}"
  register: base_compose_raw

- name: Parse base compose YAML
  set_fact:
    base_compose: "{{ base_compose_raw.content | b64decode | from_yaml }}"

- name: Extract service names from compose file (excluding main service)
  set_fact:
    homelab_app_services: "{{ base_compose.services.keys() | list | reject('equalto', homelab_app_name) | list }}"

- name: Render patch template
  template:
    src: "patch.yml.j2"
    dest: "{{ homelab_app_rendered_patch }}"
    mode: "0644"
  notify: Restart app

- name: Load rendered patch
  slurp:
    src: "{{ homelab_app_rendered_patch }}"
  register: patch_raw

- name: Parse YAMLs
  set_fact:
    patch_data: "{{ patch_raw.content | b64decode | from_yaml }}"

- name: Deep merge base and patch
  set_fact:
    final_compose: >-
      {{
        base_compose | combine(patch_data, recursive=True, list_merge='append_rp')
      }}

- name: Save merged compose file
  copy:
    dest: "{{ homelab_app_target_root_dir }}/compose.yml"
    content: "{{ final_compose | to_nice_yaml(indent=2) }}"
    owner: "{{ ansible_user }}"
    mode: "0644"
  notify: Restart app

- name: Make sure the data volumes exists
  community.docker.docker_volume:
    name: "{{ homelab_app_name }}-{{ item }}"
  loop: "{{ homelab_app_volume_names }}"

- name: Trigger recreate if forced
  debug:
    msg: "Force recreate requested"
  when: homelab_app_force_recreate
  notify: Restart app
  changed_when: true
