- name: Set logs root dir
  set_fact:
    backups_logs_dir: "{{ homelab_app_logs_root_dir }}/backups"
- name: Set logs filepaths
  set_fact:
    backups_logs_stdout_filepath: "{{ backups_logs_dir }}/restic-backup.out.log"
    backups_logs_stderr_filepath: "{{ backups_logs_dir }}/restic-backup.err.log"
- name: Ensure logs dir exists
  file:
    path: "{{ backups_logs_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_dir_mode }}"

- name: Ensure restic build dir exists
  become: true
  file:
    path: "{{ homelab_app_backups_restic_build_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_dir_mode }}"

- name: Create restic+rclone Dockerfile
  become: true
  template:
    src: restic-rclone.Dockerfile.j2
    dest: "{{ homelab_app_backups_restic_build_dir }}/Dockerfile"
    owner: "{{ ansible_user }}"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_file_mode }}"

- name: Build restic+rclone Docker image
  become: true
  community.docker.docker_image:
    name: homelab-restic-rclone
    tag: latest
    source: build
    build:
      path: "{{ homelab_app_backups_restic_build_dir }}"
    force_source: true

- name: Ensure rclone conf dir exists
  become: true
  file:
    path: "{{ homelab_app_backups_rclone_conf_target_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_dir_mode }}"

- name: Copy rclone conf
  template:
    src: "{{ homelab_app_backups_rclone_conf }}"
    dest: "{{ homelab_app_backups_rclone_conf_target_dir }}/rclone.conf"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_file_mode }}"

- name: Ensure restic cache dir exists
  become: true
  file:
    path: "{{ homelab_app_backups_restic_cache_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_dir_mode }}"
- name: Ensure Restic repository is initialized
  command:
    cmd: >
      docker run --rm
      --entrypoint sh
      -v {{ homelab_app_backups_rclone_conf_target_dir }}:/root/.config/rclone:ro
      -v {{ homelab_app_backups_restic_cache_dir }}:/root/.cache/restic
      -v /etc/localtime:/etc/localtime:ro
      -e RESTIC_PASSWORD={{ homelab_app_backups_restic_password | quote }}
      homelab-restic-rclone:latest
      -c 'restic snapshots -r "rclone:{{ homelab_app_backups_rclone_remote }}/{{ homelab_app_name }}/{{ item.volume }}" || restic init -r "rclone:{{ homelab_app_backups_rclone_remote }}/{{ homelab_app_name }}/{{ item.volume }}"'
  register: restic_init_result
  loop: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"
  changed_when: "'created restic repository' in restic_init_result.stdout or 'created restic repository' in restic_init_result.stderr"

- name: "Ensure restic backup scripts directory exists"
  file:
    path: "{{ homelab_app_target_root_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_dir_mode }}"
  changed_when: false # This is not ideal, but it's reporting change everytime, I don't know why, and if the directory didn't exist, change will necessarily be reported by next steps so it's not that critical

- name: "Create restic backup script for {{ item.volume }}"
  template:
    src: restic-backup.sh.j2
    dest: "{{ homelab_app_target_root_dir }}/backup-{{ item.volume }}.sh"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_script_mode }}"
  loop: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"
- name: "Create restic restore script for {{ item.volume }}"
  template:
    src: restic-restore.sh.j2
    dest: "{{ homelab_app_target_root_dir }}/restore-{{ item.volume }}.sh"
    group: "{{ homelab_app_admin_group }}"
    mode: "{{ homelab_app_script_mode }}"
  loop: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"


- name: "Ensure cron job for restic backup of {{ item.volume }}"
  become: true
  cron:
    name: "restic backup: {{ homelab_app_name }}/backup-{{ item.volume }}"
    job: "{{ homelab_app_target_root_dir }}/backup-{{ item.volume }}.sh >> {{ backups_logs_stdout_filepath }} 2>> {{ backups_logs_stderr_filepath }}"
    user: "{{ ansible_user }}"
    # user: root
    minute: "{{ item.cron.split(' ')[0] }}"
    hour: "{{ item.cron.split(' ')[1] }}"
    day: "{{ item.cron.split(' ')[2] }}"
    month: "{{ item.cron.split(' ')[3] }}"
    weekday: "{{ item.cron.split(' ')[4] }}"
  loop: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"
