- name: Ensure restic build dir exists
  become: true
  file:
    path: "{{ homelab_app_backups_restic_build_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Create restic+rclone Dockerfile
  become: true
  template:
    src: restic-rclone.Dockerfile.j2
    dest: "{{ homelab_app_backups_restic_build_dir }}/Dockerfile"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Build restic+rclone Docker image
  become: true
  community.docker.docker_image:
    name: homelab-restic-rclone
    tag: latest
    source: build
    build:
      path: "{{ homelab_app_backups_restic_build_dir }}"
    force_source: true

- name: Ensure rclone conf dir exists
  become: true
  file:
    path: "{{ homelab_app_backups_rclone_conf_target_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0744"

- name: Copy rclone conf
  template:
    src: "{{ homelab_app_backups_rclone_conf }}"
    dest: "{{ homelab_app_backups_rclone_conf_target_dir }}/rclone.conf"
    mode: "0644"

- name: Ensure restic cache dir exists
  become: true
  file:
    path: "{{ homelab_app_backups_restic_cache_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"
- name: Ensure Restic repository is initialized
  become: true
  docker_container:
    name: "restic-init-{{ homelab_app_name }}-{{ item.volume }}"
    image: "homelab-restic-rclone:latest"
    entrypoint: sh
    command: -c 'restic snapshots -r "rclone:{{ homelab_app_backups_rclone_remote }}/{{ homelab_app_name }}/{{ item.volume }}" --insecure-no-password || restic init -r "rclone:{{ homelab_app_backups_rclone_remote }}/{{ homelab_app_name }}/{{ item.volume }}" --insecure-no-password'
    auto_remove: true
    volumes:
      - "{{ homelab_app_backups_rclone_conf_target_dir }}:/root/.config/rclone:ro"
      - "{{ homelab_app_backups_restic_cache_dir }}:/root/.cache/restic"
      - /etc/localtime:/etc/localtime:ro
  with_items: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"

- name: "Ensure restic backup scripts directory exists"
  file:
    path: "{{ homelab_app_target_root_dir }}"
    state: directory
    mode: "0755"

- name: "Create restic backup script for {{ item.volume }}"
  template:
    src: restic-backup.sh.j2
    dest: "{{ homelab_app_target_root_dir }}/backup-{{ item.volume }}.sh"
    mode: "0750"
  loop: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"
- name: "Create restic restore script for {{ item.volume }}"
  template:
    src: restic-restore.sh.j2
    dest: "{{ homelab_app_target_root_dir }}/restore-{{ item.volume }}.sh"
    mode: "0750"
  loop: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"


- name: "Ensure cron job for restic backup of {{ item.volume }}"
  become: true
  cron:
    name: "restic backup: {{ homelab_app_name }}/backup-{{ item.volume }}"
    job: "{{ homelab_app_target_root_dir }}/backup-{{ item.volume }}.sh >> {{ homelab_app_logs_root_dir }}/restic-backup.log 2>&1"
    user: "{{ ansible_user }}"
    # user: root
    minute: "{{ item.cron.split(' ')[0] }}"
    hour: "{{ item.cron.split(' ')[1] }}"
    day: "{{ item.cron.split(' ')[2] }}"
    month: "{{ item.cron.split(' ')[3] }}"
    weekday: "{{ item.cron.split(' ')[4] }}"
  loop: "{{ homelab_app_backups }}"
  loop_control:
    label: "{{ item.volume }}"
