---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Applications:
    - Home Assistant:
        href: http://assistant.home/
        description: Assistant domotique de la maison
    - Jellyfin:
        href: http://jellyfin.home/
        description: Streaming de films et séries
    - Paperless:
        href: http://paperless.home/
        description: La paperasse
    - Wiki:
        href: http://wiki.home/
        description: Notes et documentation

- Monitoring:
    - Status page:
        href: http://uptime-kuma.home/status/apps
        description: Statut des applications
    - Beelink Proxmox admin:
        href: http://192.168.50.100:8006
        description: Hyperviseur de machines virtuelles pour le serveur Beelink
