---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Applications:
    - Home Assistant:
        href: http://assistant.home/
        description: Assistant domotique de la maison
    - Jellyfin:
        href: http://jellyfin.home/
        description: Streaming de films et séries
    - Paperless:
        href: http://paperless.home/
        description: La paperasse
    - Wiki:
        href: http://wiki.home/
        description: Notes et documentation
    - Zigbee2MQTT:
        href: http://zigbee2mqtt.home/
        description: Paramétrage du réseau domotique

- Mediathèque:
    - Radarr:
        href: http://radarr.home/
        description: Bibliothèque de films
    - Sonarr:
        href: http://sonarr.home/
        description: Bibliothèque de séries
    - Lidarr:
        href: http://lidarr.home/
        description: Bibliothèque de musiques
    - Prowlarr:
        href: http://prowlarr.home/
        description: Gestion des téléchargements
    - qBittorrent:
        href: http://qbittorrent.home/
        description: Client de téléchargement

- Monitoring:
    - Status page:
        href: http://uptime-kuma.home/status/apps
        description: Statut des applications
    - Beelink Proxmox admin:
        href: http://192.168.50.100:8006
        description: Hyperviseur de machines virtuelles pour le serveur Beelink
