---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

{% set domain = homeserver_domain %}

- Applications:
    - Home Assistant:
        icon: home-assistant
        href: http://home-assistant.{{ domain }}/
        description: Assistant domotique de la maison
    - Tâches:
        icon: nextcloud-tasks 
        href: http://tasks.{{ domain }}/
        description: Dashboard des tâches de la maison
    - Jellyfin:
        icon: jellyfin
        href: http://jellyfin.{{ domain }}/
        description: Streaming de films et séries
    - Feishin:
        icon: navidrome
        href: http://feishin.{{ domain }}/
        description: Streaming de musiques
    - Paperless:
        icon: paperless
        href: http://paperless.{{ domain }}/
        description: La paperasse
    - Wiki:
        icon: wikipedia
        href: http://wiki.{{ domain }}/
        description: Notes et documentation

- Administration:
    - Gestion:
        - Zigbee2MQTT:
            icon: zigbee2mqtt
            href: http://z2m.{{ domain }}/
            description: Paramétrage du réseau domotique
        - Radarr:
            icon: radarr
            href: http://radarr.{{ domain }}/
            description: Bibliothèque de films
        - Sonarr:
            icon: sonarr
            href: http://sonarr.{{ domain }}/
            description: Bibliothèque de séries
        - Lidarr:
            icon: lidarr
            href: http://lidarr.{{ domain }}/
            description: Bibliothèque de musiques
        - Bazarr:
            icon: bazarr
            href: http://bazarr.{{ domain }}/
            description: Gestion des sous-titres pour films/séries
        - MusicBrainz Picard:
            icon: musicbrainz
            href: http://picard.{{ domain }}/
            description: Tagging des musiques
        - Prowlarr:
            icon: prowlarr
            href: http://prowlarr.{{ domain }}/
            description: Gestion des téléchargements
        - qBittorrent:
            icon: qbittorrent
            href: http://qbittorrent.{{ domain }}/
            description: Client de téléchargement torrent
        - slskd:
            icon: slskd
            href: http://slskd.{{ domain }}/
            description: Client de téléchargement Soulseek
    - Monitoring:
        - Status page:
            icon: uptime-kuma
            href: http://uptime-kuma.{{ domain }}/status/apps
            description: Statut des applications
        - Beelink Proxmox admin:
            icon: proxmox
            href: http://192.168.50.100:8006
            description: Hyperviseur de machines virtuelles pour le serveur Beelink
        - Apps VM Cockpit:
            icon: cockpit
            href: http://10.42.10.10:9090
            description: Administration de serveur linux pour la VM des apps
        - DNS VM Cockpit:
            icon: cockpit
            href: http://10.42.1.2:9090
            description: Administration de serveur linux pour la VM du DNS
