---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/
title: Maison Bonnet
Description: Applications et liens utiles de la maison

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey

