---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/info-widgets/

- resources:
    cpu: true
    memory: true
    refresh: 1000 # optional, in ms

- resources:
    label: System
    disk: /
- resources:
    label: Media
    disk: /mnt/media

- resources:
    network: true
    uptime: true
