- name: Deploy homepage
  hosts: apps_vm
  roles:
    - homelab-app
  pre_tasks:
  post_tasks:
    - name: "render {{ item }} template"
      become: true
      ansible.builtin.template:
        src: "./{{ item }}.j2"
        dest: "{{ homelab_app_target_root_dir }}/config/{{ item }}"
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_file_mode }}"
      loop:
        - settings.yaml
        - services.yaml
        - widgets.yaml
        - bookmarks.yaml
        - custom.css
        - custom.js
      notify: Restart homepage
  vars:
    homelab_app_name: homepage
    homelab_app_apps_domain: "{{ homeserver_domain }}"
    homelab_app_internal_port: 3000
  handlers:
    - name: Restart homepage
      community.docker.docker_compose_v2:
        project_src: "{{ homelab_app_target_root_dir }}"
        state: restarted
