---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.0.1-develop
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - prowlarr-config:/config
      - /mnt/media/downloads:/downloads #optional
volumes:
  prowlarr-config:
    external: true
