services:
  broker:
    image: docker.io/library/redis:8
    container_name: paperless-broker
    restart: always
    networks:
      - default
    volumes:
      - redisdata:/data

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.17.1
    depends_on:
      - broker
    restart: always
    networks: 
      - default
    volumes:
      - paperless-data:/usr/src/paperless/data
      - paperless-media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://paperless-broker:6379
      PAPERLESS_URL: {{ homelab_app_url }}
      PAPERLESS_BIND_ADDR: 0.0.0.0

volumes:
  paperless-data:
    external: true
  paperless-media:
    external: true
  redisdata:
    external: false
