services:
  mqtt:
    image: eclipse-mosquitto:2.0
    networks:
      - home-assistant
    volumes:
      - 'z2m-mqtt-data:/mosquitto'
    command: 'mosquitto -c /mosquitto-no-auth.conf'

  z2m:
    image: koenkk/zigbee2mqtt:1.40.2
    depends_on:
      - mqtt
    networks:
      - home-assistant
    volumes:
      - z2m-data:/app/data
      - /run/udev:/run/udev:ro
    environment:
      - TZ=Europe/Paris
    devices:
      - {{ zigbee_device_path }}:{{ zigbee_port_path }}

volumes:
  z2m-data:
    external: true
  z2m-mqtt-data:
    external: true
networks:
  home-assistant:
    external: true
