services:
  home-assistant:
    container_name: home-assistant
    image: "ghcr.io/home-assistant/home-assistant:2024.10"
    networks:
      - home-assistant
    volumes:
      - home-assistant-data:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro

volumes:
  home-assistant-data:
    external: true
networks:
  home-assistant:
    external: true
