---
services:
  vpn-client:
    image: qmcgaw/gluetun:v3.40.0
    networks:
      - servarr
    ports:
      - "8080:8080"
      - "43478:43478" # We need port forwarding to not get firewall limited for P2P
      - "43478:43478/udp"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY="{{ vpn_private_key }}"
      - SERVER_COUNTRIES=Switzerland
      - PORT_FORWARD_ONLY=on
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.2-libtorrentv1
    container_name: qbittorrent
    network_mode: "service:vpn-client"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - WEBUI_PORT=8080
      - TORRENTING_PORT=43478
    volumes:
      - qbittorrent-config:/config
      - /mnt/media/downloads:/downloads # Finished downloads on external drive
      - /downloads:/ongoing-downloads # Downloading on local disk
      - {{ homelab_app_target_root_dir }}/wg0.conf:/etc/wireguard/wg0.conf:ro
    restart: unless-stopped
volumes:
  qbittorrent-config:
    external: true
networks:
  servarr:
    external: true
