---
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.2-libtorrentv1
    container_name: qbittorrent
    networks:
      - servarr
    ports:
      - "43478:43478" # We need port forwarding to not get firewall limited for P2P
      - "43478:43478/udp"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - WEBUI_PORT=8080
      - TORRENTING_PORT=43478
    volumes:
      - qbittorrent-config:/config
      - /mnt/media/downloads:/downloads # Finished downloads on external drive
      - /downloads:/ongoing-downloads # Downloading on local disk
    restart: unless-stopped
volumes:
  qbittorrent-config:
    external: true
networks:
  servarr:
    external: true
