services:
  home-assistant:
    container_name: services-home-assistant
    image: "ghcr.io/home-assistant/home-assistant:2024.10"
    restart: unless-stopped
    networks:
      - services-net
    ports:
      - "5000:8123"
    volumes:
      - "{{ home_dir }}/home-assistant/config:/config"
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    # privileged: true

networks:
  services-net:
    external: true
