---
- name: General settings on a linux server
  ansible.builtin.import_playbook: "./linux_server.yaml"
- name: Install adguard
  ansible.builtin.import_playbook: "./adguard.yaml"
- name: Setup new machine
  ansible.builtin.import_playbook: "./new_install.yaml"
- name: Setup traefik
  ansible.builtin.import_playbook: "./traefik.yml"
- name: Paperless
  ansible.builtin.import_playbook: "./paperless.yaml"
- name: Jellyfin
  ansible.builtin.import_playbook: "./jellyfin.yaml"
- name: Uptime-Kuma
  ansible.builtin.import_playbook: "./uptime-kuma.yaml"
