---
- name: "Inspect variables"
  hosts: all
  become: false
  tasks:
    - name: Host
      ansible.builtin.debug:
        msg: "{{ ansible_host }}"
    - name: Hostname from inventory
      ansible.builtin.debug:
        msg: "{{ inventory_hostname }}"
    - name: User
      ansible.builtin.debug:
        msg: "{{ ansible_user_id }}"
    - name: Architecture
      ansible.builtin.debug:
        msg: "{{ ansible_architecture }}"
    - name: Architecture alt
      ansible.builtin.debug:
        msg: "{{ ansible_architecture_alt }}"
    - name: Distribution
      ansible.builtin.debug:
        msg: "{{ ansible_distribution }}"
    - name: Os_family
      ansible.builtin.debug:
        msg: "{{ ansible_os_family }}"
    - name: HOME
      ansible.builtin.debug:
        msg: "{{ ansible_env.HOME }}"
    - name: Home_dir
      ansible.builtin.debug:
        msg: "{{ home_dir }}"
    - name: Ansible_user
      ansible.builtin.debug:
        msg: "{{ ansible_user }}"
    - name: Ansible_user_id
      ansible.builtin.debug:
        msg: "{{ ansible_user_id }}"
