---
- name: General settings on a linux server
  hosts: all
  tasks:
    - name: Set a hostname
      become: true
      ansible.builtin.hostname:
        name: "{{ inventory_hostname | replace('_', '-') }}"
    - name: Setup a /tmp cleanup cron
      block:
        - name: Install cron
          become: true
          ansible.builtin.package:
            name: cron
        - name: Create the cleanup cron (every day, delete /tmp files and directories older than 3 days)
          ansible.builtin.cron:
            name: Cleanup /tmp dir
            minute: "0"
            hour: "23"
            job: find /tmp -maxdepth 1 -atime +3 -print0 | xargs -0 -I {} /bin/rm -rf "{}"

    - name: Setup daily trim for VMs that need it
      when: vm_needs_trim
      become: true
      block:
        - name: Create override directory for fstrim.timer
          file:
            path: /etc/systemd/system/fstrim.timer.d
            state: directory
            mode: '0755'
        - name: Override fstrim timer to run daily
          copy:
            dest: /etc/systemd/system/fstrim.timer.d/override.conf
            mode: "0644"
            content: |
              [Timer]
              OnCalendar=
              OnCalendar=daily
          notify: Reload systemd
        - name: Enable fstrim.timer
          systemd:
            name: fstrim.timer
            enabled: true
            state: started
  handlers:
    - name: Reload systemd
      become: true
      changed_when: true
      ansible.builtin.systemd:
        daemon_reload: true
