- name: "Deploy qbittorrent"
  hosts: torrent
  roles:
    - homelab-app
  vars:
    homelab_app_name: qbittorrent
    homelab_app_cpus: 1.5
    homelab_app_apps_domain: "{{ homeserver_domain }}"
    homelab_app_internal_port: 8080
    homelab_app_compose_template: "resources/qbittorrent/compose.yml.j2"
    homelab_app_volume_names:
      - config
    homelab_app_backups:
      - volume: config
        cron: "35 6 * * *"
    homelab_app_vpn_enabled: true
  pre_tasks:
    - name: Servarr stack setup
      ansible.builtin.import_tasks: tasks/servarr-setup.yaml
    - name: Make sure downloads folder exists
      become: true
      ansible.builtin.file:
        path: /downloads
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
    - name: Make sure gluetun-hooks folder exists
      become: true
      ansible.builtin.file:
        path: "{{ apps_root }}/qbittorrent/gluetun-hooks"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
    - name: "render qbittorrent update script template"
      ansible.builtin.template:
        src: "resources/qbittorrent/update_qbittorrent_port.sh.j2"
        dest: "{{ apps_root }}/qbittorrent/gluetun-hooks/update_qbittorrent_port.sh"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_script_mode }}"
