---
- name: Setup a new apps host
  hosts: apps_vm
  tasks:
    - name: Install docker
      ansible.builtin.include_tasks: ./tasks/install-docker.yaml
    - name: Ensure root /srv directory exists
      become: true
      file:
        path: /srv
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
    - name: Ensure root apps directory exists
      become: true
      file:
        path: /srv/apps
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
    - name: Ensure backups directory exists
      become: true
      file:
        path: /backups
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
