---
- name: Setup a new apps host
  hosts: apps_vm
  tasks:
    - name: Install docker
      ansible.builtin.include_tasks: ./tasks/install-docker.yaml
    - name: Ensure /srv dirs exist
      become: true
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
      loop:
        - /srv
        - /srv/apps
        - /srv/script
        - /srv/var
        - /srv/var/log
        - "{{ homelab_app_restic_stats_directory }}"
