- name: "Install slsk-batchdl"
  hosts: servarr
  tasks:
    - name: "ensure config dir exists"
      become: true
      ansible.builtin.file:
        path: /srv/tools/slsk-batchdl/config
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
    - name: "render config template"
      become: true
      ansible.builtin.template:
        src: "resources/slsk-batchdl/sldl.conf.j2"
        dest: "/srv/tools/slsk-batchdl/config/sldl.conf"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_file_mode }}"
      notify: Restart docker
    - name: "render compose template"
      become: true
      ansible.builtin.template:
        src: "resources/slsk-batchdl/compose.yml.j2"
        dest: "/srv/tools/slsk-batchdl/compose.yml"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_file_mode }}"
      notify: Restart docker
  handlers:
    - name: Restart docker
      community.docker.docker_compose_v2:
        project_src: /srv/tools/slsk-batchdl
        state: restarted
