---
- name: Start containers mounting /mnt/media*
  hosts: apps_vm
  tasks:
    - name: List containers mounting /mnt/media*
      ansible.builtin.include_tasks: ./tasks/list_containers_mounting_media.yaml

    - name: Display containers to be started
      debug:
        msg: "Starting containers: {{ media_containers }}"
      when: media_containers | length > 0

    - name: Start media-dependent containers
      community.docker.docker_container:
        name: "{{ item }}"
        state: started
      loop: "{{ media_containers }}"
      when: media_containers | length > 0
