- name: Deploy Traefik reverse proxy
  hosts: traefik
  vars:
    enable_tls: false
    email: "quentin@famille-bonnet.fr"
    traefik_dir: "/srv/traefik"

  tasks:
    - name: Ensure Traefik config dir exists
      file:
        path: "{{ traefik_dir }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_dir_mode }}"
    - name: Create public network if not exists
      community.docker.docker_network:
        name: "{{ traefik_network }}"
        driver: bridge
        state: present

    - name: Copy static config
      ansible.builtin.copy:
        src: ./resources/traefik/config.yml
        dest: "{{ traefik_dir }}/traefik.yml"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_file_mode }}"
      notify: Restart traefik
    - name: Render dynamic config template
      ansible.builtin.template:
        src: ./resources/traefik/dynamic-config.yml.j2
        dest: "{{ traefik_dir }}/dynamic.yml"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_file_mode }}"
      notify: Restart traefik
    - name: Render compose template
      ansible.builtin.template:
        src: resources/traefik/compose.yml.j2
        dest: "{{ traefik_dir }}/compose.yml"
        group: "{{ default_admin_group }}"
        mode: "{{ default_admin_file_mode }}"
      notify: Restart traefik
    - name: Start traefik
      community.docker.docker_compose_v2:
        project_src: "{{ traefik_dir }}"
        state: present
      register: start
  handlers:
    - name: Restart traefik
      when: not start.changed
      community.docker.docker_compose_v2:
        project_src: "{{ traefik_dir }}"
        state: restarted
