---
project_root: /home/quentin/perso/homeserver/ansible
playbooks_root: "{{ project_root }}/playbooks"
apps_root: "{{ playbooks_root }}/apps"
# The linux commands to get hardware architecture info don't give the most common labels for those architectures
# For some repos, we have to use these common labels instead.
alt_arch_names:
  x86_64: amd64
  aarch64: arm64
ansible_architecture_alt: "{{ alt_arch_names[ansible_architecture] | default(ansible_architecture) }}"

lan_cidr: 192.168.50.0/24
traefik_network: traefik

# Global defaults for file/directory modes and ownership (for playbooks)
default_admin_group: admin
default_admin_dir_mode: "0774"
default_admin_file_mode: "0664"
default_admin_script_mode: "0774"

# Override homelab-app role defaults
homelab_app_admin_group: admin
homelab_app_backups_rclone_conf: "{{ playbooks_root }}/resources/backups/rclone.conf"
homelab_app_restic_stats_directory: /srv/var/backup-stats
