{% for backup in _local_backups_dirs %}
{{ backup.cron.minute | default('*') }} {{ backup.cron.hour | default('*') }} {{ backup.cron.day | default('*') }} {{ backup.cron.month | default('*') }} {{ backup.cron.weekday | default('*') }} {{ backups_user }} /usr/local/bin/local-backup-{{ backup.name }} > /tmp/local-backup-{{ backup.name }}.last.log 2>/tmp/local-backup-{{ backup.name }}.err.log
{% endfor %}

{% for snapshot in _zfs_snapshots %}
{{ snapshot.cron.minute | default('*') }} {{ snapshot.cron.hour | default('*') }} {{ snapshot.cron.day | default('*') }} {{ snapshot.cron.month | default('*') }} {{ snapshot.cron.weekday | default('*') }} {{ backups_user }} /usr/local/bin/zfs-snapshot-{{ snapshot.name }} > /tmp/zfs-snapshot-{{ snapshot.name }}.last.log 2>/tmp/zfs-snapshot-{{ snapshot.name }}.err.log
{% if snapshot.archiving is not false %}
{% set archiving_cron = snapshot.archiving.cron %}
{{ archiving_cron.minute | default('*') }} {{ archiving_cron.hour | default('*') }} {{ archiving_cron.day | default('*') }} {{ archiving_cron.month | default('*') }} {{ archiving_cron.weekday | default('*') }} {{ backups_user }} /usr/local/bin/zfs-snapshot-archiving-{{ snapshot.name }} > /tmp/zfs-snapshot-archiving-{{ snapshot.name }}.last.log 2>/tmp/zfs-snapshot-archiving-{{ snapshot.name }}.err.log
{% endif %}
{% endfor %}

{% for backup in _rclone_backups_dirs %}
{{ backup.cron.minute | default('*') }} {{ backup.cron.hour | default('*') }} {{ backup.cron.day | default('*') }} {{ backup.cron.month | default('*') }} {{ backup.cron.weekday | default('*') }} {{ backups_user }} /usr/local/bin/rclone --config /opt/rclone/rclone.conf copy {{ backup.src }} {{ backup.target }} > /tmp/rclone-backup{{ backup.name }}.last.log 2>/tmp/rclone-backup{{ backup.name }}.err.log
{% endfor %}

{% for cleanup in _cleanup_backups_dirs %}
{{ cleanup.cron.minute | default('*') }} {{ cleanup.cron.hour | default('*') }} {{ cleanup.cron.day | default('*') }} {{ cleanup.cron.month | default('*') }} {{ cleanup.cron.weekday | default('*') }} {{ ansible_user }} sudo find "{{ cleanup.dir }}" -type f -mtime +{{ cleanup.older_than_days }} -regex '{{ cleanup.regex }}' -delete > /tmp/cleanup-backup{{ cleanup.name }}.last.log 2>/tmp/cleanup-backup{{ cleanup.name }}.err.log
{% endfor %}
{% for cleanup in _cleanup_snapshots %}
{{ cleanup.cron.minute | default('*') }} {{ cleanup.cron.hour | default('*') }} {{ cleanup.cron.day | default('*') }} {{ cleanup.cron.month | default('*') }} {{ cleanup.cron.weekday | default('*') }} {{ ansible_user }} /usr/local/bin/cleanup-zfs-snapshots.sh "{{ cleanup.regex }}" {{ cleanup.older_than_days }} > /tmp/cleanup-zfs-snapshots.last.log 2>/tmp/cleanup-zfs-snapshots.err.log
{% endfor %}
