#!/bin/bash

set -e

SNAPSHOT_REGEX="$1"
RETENTION_DAYS=$2

# Find and delete old snapshots
for SNAP in $(zfs list -H -t snapshot -o name -s creation | grep -E "$SNAPSHOT_REGEX"); do
    SNAP_DATE=$(zfs get -H -o value creation "$SNAP")
    SNAP_TIMESTAMP=$(date -d "$SNAP_DATE" +%s)
    CUT_OFF_TIMESTAMP=$(date -d "$RETENTION_DAYS days ago" +%s)

    if [ "$SNAP_TIMESTAMP" -lt "$CUT_OFF_TIMESTAMP" ]; then
        echo "Deleting snapshot: $SNAP"
        zfs destroy "$SNAP"
    fi
done
