#!/bin/bash

set -e

printf -v date '%(%Y-%m-%d_%H-%M)T' -1
src={{ item.src }}
filename=backup-{{ item.name }}-$date.tar.gz
target={{ [item.target, "$filename"] | path_join }}

[[ -d $src ]] || (echo "Directory $src not found"; exit 1)
mkdir -p "{{ item.target }}"
sync
tar -cvf - -C "$src" . | gzip -{{ item.compression_level }} > "$target" 
