apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ k3s_service_name }}-pv-{{ volume.name }}"
spec:
  capacity:
    storage: "{{ volume.size }}"
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  local:
    path: "{{ home_dir }}/k3s/volumes/{{ k3s_service_name }}/{{ volume.name }}"
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: high-io-storage
              operator: In
              values:
                - "true"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ k3s_service_name }}-pvc-{{ volume.name }}"
  namespace: "{{ k3s_service_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: "{{ volume.size }}"
