apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ volume.name }}"
  namespace: "{{ k3s_service_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ volume.size }}"
  storageClassName: longhorn-simple  # Use the Longhorn storage class 