# apiVersion: v1
# kind: PersistentVolume
# metadata:
#   name: "{{ k3s_service_name }}-pv-{{ volume.name }}"
#   namespace: "{{ k3s_service_namespace }}"
# spec:
#   capacity:
#     storage: "{{ volume.size }}"
#   storageClassName: nfs
#   accessModes:
#     - ReadWriteOnce
#   persistentVolumeReclaimPolicy: Delete
#   nfs:
#     path: "/srv/nfs/k3s/volumes/{{ k3s_service_name}}/{{ volume.name }}"
#     server: 10.142.10.9
#     readOnly: false
# ---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ k3s_service_name }}-pvc-{{ volume.name }}"
  namespace: "{{ k3s_service_namespace }}"
  nfs-directory: "{{ volume.name }}"
  annotations:
    nfs.io/storage-path: "{{ volume.name }}"
spec:
  accessModes:
    - ReadWriteOnce
  # storageClassName: nfs
  storageClassName: nfs-client
  resources:
    requests:
      storage:  "{{ volume.size }}"
