---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ k3s_service_name }}-pvc-{{ volume.name }}"
  namespace: "{{ k3s_service_namespace }}"
  annotations:
    nfs.io/storage-path: "{{ volume.name }}"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage:  "{{ volume.size }}"
