services:
  home-assistant:
    container_name: home-assistant
    labels:
      - homeserver.container-category=service
      #No point in stopping it, we need to do it from snapshot because sqlite DB keeps writing after container stopped
      #- docker-volume-backup.stop-during-backup=home-assistant
    image: "ghcr.io/home-assistant/home-assistant:2024.10"
    restart: unless-stopped
    networks:
      - services-net
    ports:
      - "5000:8123"
    volumes:
      - home-assistant-data:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro

volumes:
  home-assistant-data:
    external: true
  
networks:
  services-net:
    external: true
