services:
  jellyfin:
    image: jellyfin/jellyfin:2025052605
    container_name: jellyfin
    restart: always
    # user: uid:gid
    volumes:
      - jellyfin-config:/config
      - jellyfin-cache:/cache
      - jellyfin-media:/media
      # - type: bind
      #   source: /path/to/media
      #   target: /media
      # - type: bind
      #   source: /path/to/media2
      #   target: /media2
      #   read_only: true
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      # - type: bind
      #   source: /path/to/fonts
      #   target: /usr/local/share/fonts/custom
      #   read_only: true
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl={{ homelab_app_full_dns_name }}
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    # extra_hosts:
    #   - 'host.docker.internal:host-gateway'

volumes:
  jellyfin-config:
    external: true
  jellyfin-cache:
    external: true
  jellyfin-media:
    external: true
