---
services:
  backrest:
    image: garethgeorge/backrest:v1.10.1
    volumes:
      - backrest-data:/data
      - backrest-config:/config
      - backrest-cache:/cache
      # TODO - when open sourcing the ansible role, this kind of vars should be part of a compose_vars dictionary of sorts, to be flexible
      - {{ homelab_app_backups_rclone_conf_target_dir }}:/root/.config/rclone # Mount for rclone config (needed when using rclone remotes)
      - {{ homelab_app_backups_restic_repositories_root }}:/repos     # Mount local repos (optional for remote storage)
      # - ./backrest/tmp:/tmp
      # - /path/to/backup/data:/userdata  # Mount local paths to backup
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=Europe/Paris
# TODO - before open sourcing the role, this should go away, because the role can add them
# What we should do probably is link them up there with just their name like "data" and "config", and the role will take care of prefixing them with the app name
volumes:
  backrest-config:
    external: true
  backrest-data:
    external: true
  backrest-cache:
    external: true
