---
services:
  lidarr-plugins:
    # image: lscr.io/linuxserver/lidarr:2.12.4
    image: blampe/lidarr:lidarr-plugins-2.13.1.4678 #quickfix image, but from the plugins branch
    container_name: lidarr-plugins
    networks:
      - servarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - lidarr-plugins-config:/config
      - /mnt/media/downloads:/downloads #optional
      - /mnt/media/Musique/Albums:/music
volumes:
  lidarr-plugins-config:
    external: true
networks:
  servarr:
    external: true
