---
services:
  radarr:
    image: lscr.io/linuxserver/radarr:5.26.2
    container_name: radarr
    networks:
      - servarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - radarr-config:/config
      - /mnt/media/downloads:/downloads #optional
      - /mnt/media/Vidéo:/video #optional
volumes:
  radarr-config:
    external: true
networks:
  servarr:
    external: true
