---
services:
  radarr:
    image: lscr.io/linuxserver/radarr:5.26.2
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - radarr-config:/config
      - {{ homelab_app_target_root_dir }}/downloads:/downloads #optional
      - /mnt/media/Vidéo:/video #optional
volumes:
  radarr-config:
    external: true
